In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings('ignore')

In [2]:
caminho = 'D:\\docs_mariana\\ProjetosGit\\Convergencia\\data\\densidade_banda_larga_uf.csv'
#skiprows=1 para tirar o título da tabela
fixed_broadband = pd.read_csv(caminho, delimiter=',')

In [3]:
fixed_broadband.tail()

       ano  mes sigla_uf  densidade
4450  2022   12       AL   9.567225
4451  2022   12       PR  27.667259
4452  2022   12       PA   9.274726
4453  2022   12       RJ  24.071713
4454  2022   12       TO  11.973001

In [4]:
fixed_broadband = fixed_broadband[fixed_broadband['mes'] == 12]

In [5]:
fixed_broadband.head()

       ano  mes sigla_uf  densidade
4023  2007   12       DF  11.475453
4024  2007   12       RJ   5.593009
4025  2007   12       TO   2.461665
4026  2007   12       ES   3.376736
4027  2007   12       PA   1.196105

In [6]:
fixed_broadband = fixed_broadband.drop(columns = 'mes')
fixed_broadband.head()

       ano sigla_uf  densidade
4023  2007       DF  11.475453
4024  2007       RJ   5.593009
4025  2007       TO   2.461665
4026  2007       ES   3.376736
4027  2007       PA   1.196105

In [7]:
# Reorganizando o DataFrame para ter os estados como colunas e datas como índices
fixed_broadband = fixed_broadband.pivot(index='ano', columns='sigla_uf')['densidade']

# Removendo o nome da coluna de estados ('Código')
fixed_broadband.columns.name = None

In [8]:
fixed_broadband.head()

,AC,AL,AM,AP,BA,CE,DF,ES,GO,MA,...,PR,RJ,RN,RO,RR,RS,SC,SE,SP,TO
ano,,,,,,,,,,,,,,,,,,,,,
2007,1.844259,0.920812,1.221739,0.303587,1.620447,1.602375,11.475453,3.376736,3.681394,0.747027,...,5.411501,5.593009,1.242542,2.398133,0.310064,5.792501,6.207132,1.899273,8.644156,2.461665
2008,2.231672,1.125767,1.592196,0.400767,2.057712,1.826868,12.030543,4.900239,4.320948,0.900650,...,6.810326,7.335140,1.697222,2.945166,0.333300,6.687099,7.822919,2.307372,10.679391,3.054900
2009,2.570217,1.207595,1.806715,0.355885,2.339051,2.268043,11.874325,5.506167,5.646859,0.983855,...,9.457380,8.388626,2.028946,3.471709,0.922897,7.439177,9.302760,2.497724,12.295602,3.496688
2010,2.897926,2.271275,1.961081,0.500653,2.844372,3.170278,14.611658,6.486376,6.706016,1.158925,...,10.548664,9.727629,2.447549,3.894051,1.027351,9.232212,10.112066,2.785374,15.293109,3.508994
2011,3.522492,2.615818,2.819216,0.570509,3.514587,3.766551,16.213927,7.817479,7.547905,1.336319,...,11.433531,11.486568,4.275033,4.349467,2.797259,10.048660,10.871097,3.374274,16.647835,3.906589

In [9]:
fixed_broadband.reset_index(inplace=True)

In [10]:
fixed_broadband.head()

,ano,AC,AL,AM,AP,BA,CE,DF,ES,GO,...,PR,RJ,RN,RO,RR,RS,SC,SE,SP,TO
0,2007,1.844259,0.920812,1.221739,0.303587,1.620447,1.602375,11.475453,3.376736,3.681394,...,5.411501,5.593009,1.242542,2.398133,0.310064,5.792501,6.207132,1.899273,8.644156,2.461665
1,2008,2.231672,1.125767,1.592196,0.400767,2.057712,1.826868,12.030543,4.900239,4.320948,...,6.810326,7.335140,1.697222,2.945166,0.333300,6.687099,7.822919,2.307372,10.679391,3.054900
2,2009,2.570217,1.207595,1.806715,0.355885,2.339051,2.268043,11.874325,5.506167,5.646859,...,9.457380,8.388626,2.028946,3.471709,0.922897,7.439177,9.302760,2.497724,12.295602,3.496688
3,2010,2.897926,2.271275,1.961081,0.500653,2.844372,3.170278,14.611658,6.486376,6.706016,...,10.548664,9.727629,2.447549,3.894051,1.027351,9.232212,10.112066,2.785374,15.293109,3.508994
4,2011,3.522492,2.615818,2.819216,0.570509,3.514587,3.766551,16.213927,7.817479,7.547905,...,11.433531,11.486568,4.275033,4.349467,2.797259,10.048660,10.871097,3.374274,16.647835,3.906589

In [11]:
fixed_broadband.rename(columns = {'AC' : '12', 'AL' : '27', 'AM' : '13', 'AP' : '16', 'BA' : '29', 'CE' : '23', 'DF' : '53', 'ES' : '32', 'GO' : '52',
                                  'MA' : '21', 'MG' : '31', 'MS' : '50', 'MT' : '51', 'PA' : '15', 'PB' : '25', 'PE' : '26', 'PI' : '22', 
                                  'PR' : '41', 'RJ' : '33', 'RN' : '24', 'RO' : '11', 'RR' : '14', 'RS' : '43', 'SC' : '42', 'SE' : '28', 'SP' : '35', 'TO' : '17', 'ano' : 'time'}, inplace = True)

In [12]:
fixed_broadband.head()

,time,12,27,13,16,29,23,53,32,52,...,41,33,24,11,14,43,42,28,35,17
0,2007,1.844259,0.920812,1.221739,0.303587,1.620447,1.602375,11.475453,3.376736,3.681394,...,5.411501,5.593009,1.242542,2.398133,0.310064,5.792501,6.207132,1.899273,8.644156,2.461665
1,2008,2.231672,1.125767,1.592196,0.400767,2.057712,1.826868,12.030543,4.900239,4.320948,...,6.810326,7.335140,1.697222,2.945166,0.333300,6.687099,7.822919,2.307372,10.679391,3.054900
2,2009,2.570217,1.207595,1.806715,0.355885,2.339051,2.268043,11.874325,5.506167,5.646859,...,9.457380,8.388626,2.028946,3.471709,0.922897,7.439177,9.302760,2.497724,12.295602,3.496688
3,2010,2.897926,2.271275,1.961081,0.500653,2.844372,3.170278,14.611658,6.486376,6.706016,...,10.548664,9.727629,2.447549,3.894051,1.027351,9.232212,10.112066,2.785374,15.293109,3.508994
4,2011,3.522492,2.615818,2.819216,0.570509,3.514587,3.766551,16.213927,7.817479,7.547905,...,11.433531,11.486568,4.275033,4.349467,2.797259,10.048660,10.871097,3.374274,16.647835,3.906589

In [15]:
colunas_arredondar = ['12', '27', '13', '16', '29', '23', '53', '32', '52', '21',
       '31', '50', '51', '15', '25', '26', '22', '41', '33', '24', '11', '14',
       '43', '42', '28', '35', '17']
fixed_broadband[colunas_arredondar] = fixed_broadband[colunas_arredondar].round(1)

In [16]:
fixed_broadband.head()

,time,12,27,13,16,29,23,53,32,52,...,41,33,24,11,14,43,42,28,35,17
0,2007,1.8,0.9,1.2,0.3,1.6,1.6,11.5,3.4,3.7,...,5.4,5.6,1.2,2.4,0.3,5.8,6.2,1.9,8.6,2.5
1,2008,2.2,1.1,1.6,0.4,2.1,1.8,12.0,4.9,4.3,...,6.8,7.3,1.7,2.9,0.3,6.7,7.8,2.3,10.7,3.1
2,2009,2.6,1.2,1.8,0.4,2.3,2.3,11.9,5.5,5.6,...,9.5,8.4,2.0,3.5,0.9,7.4,9.3,2.5,12.3,3.5
3,2010,2.9,2.3,2.0,0.5,2.8,3.2,14.6,6.5,6.7,...,10.5,9.7,2.4,3.9,1.0,9.2,10.1,2.8,15.3,3.5
4,2011,3.5,2.6,2.8,0.6,3.5,3.8,16.2,7.8,7.5,...,11.4,11.5,4.3,4.3,2.8,10.0,10.9,3.4,16.6,3.9

In [17]:
fixed_broadband.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    16 non-null     int64
 1   12      16 non-null     float64
 2   27      16 non-null     float64
 3   13      16 non-null     float64
 4   16      16 non-null     float64
 5   29      16 non-null     float64
 6   23      16 non-null     float64
 7   53      16 non-null     float64
 8   32      16 non-null     float64
 9   52      16 non-null     float64
 10  21      16 non-null     float64
 11  31      16 non-null     float64
 12  50      16 non-null     float64
 13  51      16 non-null     float64
 14  15      16 non-null     float64
 15  25      16 non-null     float64
 16  26      16 non-null     float64
 17  22      16 non-null     float64
 18  41      16 non-null     float64
 19  33      16 non-null     float64
 20  24      16 non-null     float64
 21  11      16 non-null     float64
 22  14      16 non-null     float64
 23  43      16 non-null     float64
 24  42      16 non-null     float64
 25  28      16 non-null     float64
 26  35      16 non-null     float64
 27  17      16 non-null     float64
dtypes: float64(27), int64(1)
memory usage: 3.6 KB

In [18]:
#criando arquivo csv final
fixed_broadband_states = fixed_broadband.to_csv(r'D:\docs_mariana\ProjetosGit\Convergencia\data_eurofound_est\fixed_broadband_states.csv', encoding='UTF-8', index=False)