In [138]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings('ignore')

In [139]:
women_labour_force = pd.read_excel('women_labour_force.xlsx')
women_labour_force.head()

,Sigla,Código,Estado,2012 T1,2012 T2,2012 T3,2012 T4,2013 T1,2013 T2,2013 T3,...,2019 T4,2020 T1,2022 T2,2022 T3,2022 T4,2023 T1,2023 T2,2023 T3,2023 T4,2024 T1
0,AC,12,Acre,41.7,41.5,40.9,41.7,42.1,40.7,40.6,...,42.0,41.7,40.9,40.8,40.1,40.2,41.1,40.8,40.6,39.3
1,AL,27,Alagoas,37.1,37.5,38.2,37.8,38.3,38.2,38.2,...,42.2,41.3,42.5,42.9,42.5,42.4,42.4,42.5,42.3,41.7
2,AM,13,Amazonas,40.0,39.6,39.4,40.0,40.3,39.8,39.8,...,41.5,42.0,41.8,42.2,42.6,42.0,41.3,40.9,40.7,40.5
3,AP,16,Amapá,41.4,42.9,42.9,43.0,42.1,41.2,41.2,...,44.0,41.9,42.1,41.1,42.4,41.5,42.0,42.4,43.7,42.4
4,BA,29,Bahia,41.7,42.3,42.2,42.1,41.4,42.3,41.9,...,43.9,43.5,43.2,43.2,43.1,42.7,42.5,43.4,43.4,43.8

In [140]:
women_labour_force.to_csv('women_labour_force_excel.csv')

In [141]:
women_labour_force.columns

Index(['Sigla', 'Código', 'Estado', '2012 T1', '2012 T2', '2012 T3', '2012 T4',
       '2013 T1', '2013 T2', '2013 T3', '2013 T4', '2014 T1', '2014 T2',
       '2014 T3', '2014 T4', '2015 T1', '2015 T2', '2015 T3', '2015 T4',
       '2016 T1', '2016 T2', '2016 T3', '2016 T4', '2017 T1', '2017 T2',
       '2017 T3', '2017 T4', '2018 T1', '2018 T2', '2018 T3', '2018 T4',
       '2019 T1', '2019 T2', '2019 T3', '2019 T4', '2020 T1', '2022 T2',
       '2022 T3', '2022 T4', '2023 T1', '2023 T2', '2023 T3', '2023 T4',
       '2024 T1'],
      dtype='object')

In [142]:
colunas_2012 = ['2012 T1','2012 T2','2012 T3','2012 T4']
colunas_2013 = ['2013 T1','2013 T2','2013 T3','2013 T4']
colunas_2014 = ['2014 T1','2014 T2','2014 T3','2014 T4']
colunas_2015 = ['2015 T1','2015 T2','2015 T3','2015 T4']
colunas_2016 = ['2016 T1','2016 T2','2016 T3','2016 T4']
colunas_2017 = ['2017 T1','2017 T2','2017 T3','2017 T4']
colunas_2018 = ['2018 T1','2018 T2','2018 T3','2018 T4']
colunas_2019 = ['2019 T1','2019 T2','2019 T3','2019 T4']
colunas_2020 = ['2020 T1']
colunas_2022 = ['2022 T2','2022 T3','2022 T4']
colunas_2023 = ['2023 T1','2023 T2','2023 T3','2023 T4']
colunas_2024 = ['2024 T1']

women_labour_force['2012'] = women_labour_force[colunas_2012].mean(axis=1)
women_labour_force['2013'] = women_labour_force[colunas_2013].mean(axis=1)
women_labour_force['2014'] = women_labour_force[colunas_2014].mean(axis=1)
women_labour_force['2015'] = women_labour_force[colunas_2015].mean(axis=1)
women_labour_force['2016'] = women_labour_force[colunas_2016].mean(axis=1)
women_labour_force['2017'] = women_labour_force[colunas_2017].mean(axis=1)
women_labour_force['2018'] = women_labour_force[colunas_2018].mean(axis=1)
women_labour_force['2019'] = women_labour_force[colunas_2019].mean(axis=1)
women_labour_force['2020'] = women_labour_force[colunas_2020].mean(axis=1)
women_labour_force['2022'] = women_labour_force[colunas_2022].mean(axis=1)
women_labour_force['2023'] = women_labour_force[colunas_2023].mean(axis=1)
women_labour_force['2024'] = women_labour_force[colunas_2024].mean(axis=1)

In [143]:
women_labour_force.head()

,Sigla,Código,Estado,2012 T1,2012 T2,2012 T3,2012 T4,2013 T1,2013 T2,2013 T3,...,2014,2015,2016,2017,2018,2019,2020,2022,2023,2024
0,AC,12,Acre,41.7,41.5,40.9,41.7,42.1,40.7,40.6,...,39.075,39.625,40.000,40.900,40.600,41.775,41.7,40.600000,40.675,39.3
1,AL,27,Alagoas,37.1,37.5,38.2,37.8,38.3,38.2,38.2,...,39.100,39.775,40.275,41.175,40.875,41.725,41.3,42.633333,42.400,41.7
2,AM,13,Amazonas,40.0,39.6,39.4,40.0,40.3,39.8,39.8,...,39.575,39.075,40.375,41.425,41.250,41.400,42.0,42.200000,41.225,40.5
3,AP,16,Amapá,41.4,42.9,42.9,43.0,42.1,41.2,41.2,...,41.475,40.550,43.025,43.050,42.250,43.325,41.9,41.866667,42.400,42.4
4,BA,29,Bahia,41.7,42.3,42.2,42.1,41.4,42.3,41.9,...,42.275,42.975,43.100,43.300,43.025,43.750,43.5,43.166667,43.000,43.8

In [144]:
women_labour_force = women_labour_force[['Código', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2022', '2023', '2024']]

In [145]:
women_labour_force.head()

,Código,2012,2013,2014,2015,2016,2017,2018,2019,2020,2022,2023,2024
0,12,41.450,40.600,39.075,39.625,40.000,40.900,40.600,41.775,41.7,40.600000,40.675,39.3
1,27,37.650,38.200,39.100,39.775,40.275,41.175,40.875,41.725,41.3,42.633333,42.400,41.7
2,13,39.750,39.875,39.575,39.075,40.375,41.425,41.250,41.400,42.0,42.200000,41.225,40.5
3,16,42.550,41.100,41.475,40.550,43.025,43.050,42.250,43.325,41.9,41.866667,42.400,42.4
4,29,42.075,41.875,42.275,42.975,43.100,43.300,43.025,43.750,43.5,43.166667,43.000,43.8

In [146]:
women_labour_force_T = women_labour_force.T
print(women_labour_force_T)

            0          1       2          3          4       5       6   \
Código  12.000  27.000000  13.000  16.000000  29.000000  23.000  53.000
2012    41.450  37.650000  39.750  42.550000  42.075000  40.475  46.875
2013    40.600  38.200000  39.875  41.100000  41.875000  40.700  46.825
2014    39.075  39.100000  39.575  41.475000  42.275000  41.050  46.350
2015    39.625  39.775000  39.075  40.550000  42.975000  41.225  46.025
2016    40.000  40.275000  40.375  43.025000  43.100000  41.375  46.775
2017    40.900  41.175000  41.425  43.050000  43.300000  42.150  46.925
2018    40.600  40.875000  41.250  42.250000  43.025000  42.325  46.975
2019    41.775  41.725000  41.400  43.325000  43.750000  43.225  47.550
2020    41.700  41.300000  42.000  41.900000  43.500000  43.100  46.400
2022    40.600  42.633333  42.200  41.866667  43.166667  42.500  47.600
2023    40.675  42.400000  41.225  42.400000  43.000000  41.825  47.225
2024    39.300  41.700000  40.500  42.400000  43.800000  41.800  47.000

               7          8          9   ...         17      18         19  \
Código  32.000000  52.000000  21.000000  ...  41.000000  33.000  24.000000
2012    42.600000  41.600000  39.250000  ...  43.200000  43.875  39.575000
2013    42.275000  41.300000  39.075000  ...  43.075000  43.700  39.925000
2014    42.300000  41.650000  39.125000  ...  43.250000  43.450  40.975000
2015    42.625000  42.150000  39.975000  ...  42.750000  43.675  42.425000
2016    43.075000  41.975000  39.475000  ...  43.500000  43.550  42.050000
2017    43.450000  43.350000  40.225000  ...  43.400000  43.900  41.500000
2018    43.775000  43.300000  40.950000  ...  43.450000  44.500  42.200000
2019    44.350000  44.200000  41.975000  ...  43.825000  44.975  42.175000
2020    44.000000  44.000000  41.100000  ...  43.600000  44.800  42.500000
2022    44.033333  43.133333  42.433333  ...  43.766667  45.500  41.966667
2023    43.575000  42.975000  41.975000  ...  43.200000  45.325  41.800000
2024    43.500000  42.800000  41.600000  ...  43.200000  46.000  42.000000

               20         21         22         23         24         25  \
Código  11.000000  14.000000  43.000000  42.000000  28.000000  35.000000
2012    39.425000  42.375000  44.500000  43.775000  41.075000  43.800000
2013    37.700000  42.350000  44.475000  43.600000  42.450000  44.225000
2014    36.900000  41.825000  44.500000  43.300000  42.000000  44.325000
2015    37.075000  42.550000  44.850000  43.925000  41.050000  44.550000
2016    38.975000  41.000000  44.875000  43.825000  41.725000  44.700000
2017    39.075000  41.975000  45.200000  44.175000  42.650000  45.425000
2018    39.500000  42.475000  44.750000  44.100000  43.150000  45.875000
2019    39.900000  41.875000  45.325000  44.725000  43.825000  45.650000
2020    40.300000  41.200000  45.100000  44.500000  42.600000  45.700000
2022    40.233333  41.266667  44.633333  44.466667  41.766667  46.066667
2023    38.850000  40.675000  45.325000  44.475000  43.550000  45.600000
2024    39.200000  41.900000  45.300000  44.500000  43.600000  44.900000

               26
Código  17.000000
2012    38.975000
2013    39.125000
2014    39.000000
2015    40.025000
2016    39.550000
2017    40.275000
2018    40.950000
2019    40.700000
2020    41.900000
2022    41.866667
2023    41.975000
2024    41.200000

[13 rows x 27 columns]

In [147]:
women_labour_force_T = women_labour_force_T.reset_index()
print(women_labour_force_T)

     index       0          1       2          3          4       5       6  \
0   Código  12.000  27.000000  13.000  16.000000  29.000000  23.000  53.000
1     2012  41.450  37.650000  39.750  42.550000  42.075000  40.475  46.875
2     2013  40.600  38.200000  39.875  41.100000  41.875000  40.700  46.825
3     2014  39.075  39.100000  39.575  41.475000  42.275000  41.050  46.350
4     2015  39.625  39.775000  39.075  40.550000  42.975000  41.225  46.025
5     2016  40.000  40.275000  40.375  43.025000  43.100000  41.375  46.775
6     2017  40.900  41.175000  41.425  43.050000  43.300000  42.150  46.925
7     2018  40.600  40.875000  41.250  42.250000  43.025000  42.325  46.975
8     2019  41.775  41.725000  41.400  43.325000  43.750000  43.225  47.550
9     2020  41.700  41.300000  42.000  41.900000  43.500000  43.100  46.400
10    2022  40.600  42.633333  42.200  41.866667  43.166667  42.500  47.600
11    2023  40.675  42.400000  41.225  42.400000  43.000000  41.825  47.225
12    2024  39.300  41.700000  40.500  42.400000  43.800000  41.800  47.000

            7          8  ...         17      18         19         20  \
0   32.000000  52.000000  ...  41.000000  33.000  24.000000  11.000000
1   42.600000  41.600000  ...  43.200000  43.875  39.575000  39.425000
2   42.275000  41.300000  ...  43.075000  43.700  39.925000  37.700000
3   42.300000  41.650000  ...  43.250000  43.450  40.975000  36.900000
4   42.625000  42.150000  ...  42.750000  43.675  42.425000  37.075000
5   43.075000  41.975000  ...  43.500000  43.550  42.050000  38.975000
6   43.450000  43.350000  ...  43.400000  43.900  41.500000  39.075000
7   43.775000  43.300000  ...  43.450000  44.500  42.200000  39.500000
8   44.350000  44.200000  ...  43.825000  44.975  42.175000  39.900000
9   44.000000  44.000000  ...  43.600000  44.800  42.500000  40.300000
10  44.033333  43.133333  ...  43.766667  45.500  41.966667  40.233333
11  43.575000  42.975000  ...  43.200000  45.325  41.800000  38.850000
12  43.500000  42.800000  ...  43.200000  46.000  42.000000  39.200000

           21         22         23         24         25         26
0   14.000000  43.000000  42.000000  28.000000  35.000000  17.000000
1   42.375000  44.500000  43.775000  41.075000  43.800000  38.975000
2   42.350000  44.475000  43.600000  42.450000  44.225000  39.125000
3   41.825000  44.500000  43.300000  42.000000  44.325000  39.000000
4   42.550000  44.850000  43.925000  41.050000  44.550000  40.025000
5   41.000000  44.875000  43.825000  41.725000  44.700000  39.550000
6   41.975000  45.200000  44.175000  42.650000  45.425000  40.275000
7   42.475000  44.750000  44.100000  43.150000  45.875000  40.950000
8   41.875000  45.325000  44.725000  43.825000  45.650000  40.700000
9   41.200000  45.100000  44.500000  42.600000  45.700000  41.900000
10  41.266667  44.633333  44.466667  41.766667  46.066667  41.866667
11  40.675000  45.325000  44.475000  43.550000  45.600000  41.975000
12  41.900000  45.300000  44.500000  43.600000  44.900000  41.200000

[13 rows x 28 columns]

In [148]:
new_columns_names = women_labour_force_T.iloc[0].tolist()
new_columns_names= dict(zip(women_labour_force_T.columns, new_columns_names))
women_labour_force_T.rename(columns = new_columns_names, inplace=True)
print(women_labour_force_T)

    Código    12.0       27.0    13.0       16.0       29.0    23.0    53.0  \
0   Código  12.000  27.000000  13.000  16.000000  29.000000  23.000  53.000
1     2012  41.450  37.650000  39.750  42.550000  42.075000  40.475  46.875
2     2013  40.600  38.200000  39.875  41.100000  41.875000  40.700  46.825
3     2014  39.075  39.100000  39.575  41.475000  42.275000  41.050  46.350
4     2015  39.625  39.775000  39.075  40.550000  42.975000  41.225  46.025
5     2016  40.000  40.275000  40.375  43.025000  43.100000  41.375  46.775
6     2017  40.900  41.175000  41.425  43.050000  43.300000  42.150  46.925
7     2018  40.600  40.875000  41.250  42.250000  43.025000  42.325  46.975
8     2019  41.775  41.725000  41.400  43.325000  43.750000  43.225  47.550
9     2020  41.700  41.300000  42.000  41.900000  43.500000  43.100  46.400
10    2022  40.600  42.633333  42.200  41.866667  43.166667  42.500  47.600
11    2023  40.675  42.400000  41.225  42.400000  43.000000  41.825  47.225
12    2024  39.300  41.700000  40.500  42.400000  43.800000  41.800  47.000

         32.0       52.0  ...       41.0    33.0       24.0       11.0  \
0   32.000000  52.000000  ...  41.000000  33.000  24.000000  11.000000
1   42.600000  41.600000  ...  43.200000  43.875  39.575000  39.425000
2   42.275000  41.300000  ...  43.075000  43.700  39.925000  37.700000
3   42.300000  41.650000  ...  43.250000  43.450  40.975000  36.900000
4   42.625000  42.150000  ...  42.750000  43.675  42.425000  37.075000
5   43.075000  41.975000  ...  43.500000  43.550  42.050000  38.975000
6   43.450000  43.350000  ...  43.400000  43.900  41.500000  39.075000
7   43.775000  43.300000  ...  43.450000  44.500  42.200000  39.500000
8   44.350000  44.200000  ...  43.825000  44.975  42.175000  39.900000
9   44.000000  44.000000  ...  43.600000  44.800  42.500000  40.300000
10  44.033333  43.133333  ...  43.766667  45.500  41.966667  40.233333
11  43.575000  42.975000  ...  43.200000  45.325  41.800000  38.850000
12  43.500000  42.800000  ...  43.200000  46.000  42.000000  39.200000

         14.0       43.0       42.0       28.0       35.0       17.0
0   14.000000  43.000000  42.000000  28.000000  35.000000  17.000000
1   42.375000  44.500000  43.775000  41.075000  43.800000  38.975000
2   42.350000  44.475000  43.600000  42.450000  44.225000  39.125000
3   41.825000  44.500000  43.300000  42.000000  44.325000  39.000000
4   42.550000  44.850000  43.925000  41.050000  44.550000  40.025000
5   41.000000  44.875000  43.825000  41.725000  44.700000  39.550000
6   41.975000  45.200000  44.175000  42.650000  45.425000  40.275000
7   42.475000  44.750000  44.100000  43.150000  45.875000  40.950000
8   41.875000  45.325000  44.725000  43.825000  45.650000  40.700000
9   41.200000  45.100000  44.500000  42.600000  45.700000  41.900000
10  41.266667  44.633333  44.466667  41.766667  46.066667  41.866667
11  40.675000  45.325000  44.475000  43.550000  45.600000  41.975000
12  41.900000  45.300000  44.500000  43.600000  44.900000  41.200000

[13 rows x 28 columns]

In [149]:
women_labour_force_T = women_labour_force_T.drop(index=0)
print(women_labour_force_T)

   Código    12.0       27.0    13.0       16.0       29.0    23.0    53.0  \
1    2012  41.450  37.650000  39.750  42.550000  42.075000  40.475  46.875
2    2013  40.600  38.200000  39.875  41.100000  41.875000  40.700  46.825
3    2014  39.075  39.100000  39.575  41.475000  42.275000  41.050  46.350
4    2015  39.625  39.775000  39.075  40.550000  42.975000  41.225  46.025
5    2016  40.000  40.275000  40.375  43.025000  43.100000  41.375  46.775
6    2017  40.900  41.175000  41.425  43.050000  43.300000  42.150  46.925
7    2018  40.600  40.875000  41.250  42.250000  43.025000  42.325  46.975
8    2019  41.775  41.725000  41.400  43.325000  43.750000  43.225  47.550
9    2020  41.700  41.300000  42.000  41.900000  43.500000  43.100  46.400
10   2022  40.600  42.633333  42.200  41.866667  43.166667  42.500  47.600
11   2023  40.675  42.400000  41.225  42.400000  43.000000  41.825  47.225
12   2024  39.300  41.700000  40.500  42.400000  43.800000  41.800  47.000

         32.0       52.0  ...       41.0    33.0       24.0       11.0  \
1   42.600000  41.600000  ...  43.200000  43.875  39.575000  39.425000
2   42.275000  41.300000  ...  43.075000  43.700  39.925000  37.700000
3   42.300000  41.650000  ...  43.250000  43.450  40.975000  36.900000
4   42.625000  42.150000  ...  42.750000  43.675  42.425000  37.075000
5   43.075000  41.975000  ...  43.500000  43.550  42.050000  38.975000
6   43.450000  43.350000  ...  43.400000  43.900  41.500000  39.075000
7   43.775000  43.300000  ...  43.450000  44.500  42.200000  39.500000
8   44.350000  44.200000  ...  43.825000  44.975  42.175000  39.900000
9   44.000000  44.000000  ...  43.600000  44.800  42.500000  40.300000
10  44.033333  43.133333  ...  43.766667  45.500  41.966667  40.233333
11  43.575000  42.975000  ...  43.200000  45.325  41.800000  38.850000
12  43.500000  42.800000  ...  43.200000  46.000  42.000000  39.200000

         14.0       43.0       42.0       28.0       35.0       17.0
1   42.375000  44.500000  43.775000  41.075000  43.800000  38.975000
2   42.350000  44.475000  43.600000  42.450000  44.225000  39.125000
3   41.825000  44.500000  43.300000  42.000000  44.325000  39.000000
4   42.550000  44.850000  43.925000  41.050000  44.550000  40.025000
5   41.000000  44.875000  43.825000  41.725000  44.700000  39.550000
6   41.975000  45.200000  44.175000  42.650000  45.425000  40.275000
7   42.475000  44.750000  44.100000  43.150000  45.875000  40.950000
8   41.875000  45.325000  44.725000  43.825000  45.650000  40.700000
9   41.200000  45.100000  44.500000  42.600000  45.700000  41.900000
10  41.266667  44.633333  44.466667  41.766667  46.066667  41.866667
11  40.675000  45.325000  44.475000  43.550000  45.600000  41.975000
12  41.900000  45.300000  44.500000  43.600000  44.900000  41.200000

[12 rows x 28 columns]

In [150]:
women_labour_force_T.rename(columns = {'Código' : 'time'}, inplace = True)
print(women_labour_force_T)

    time    12.0       27.0    13.0       16.0       29.0    23.0    53.0  \
1   2012  41.450  37.650000  39.750  42.550000  42.075000  40.475  46.875
2   2013  40.600  38.200000  39.875  41.100000  41.875000  40.700  46.825
3   2014  39.075  39.100000  39.575  41.475000  42.275000  41.050  46.350
4   2015  39.625  39.775000  39.075  40.550000  42.975000  41.225  46.025
5   2016  40.000  40.275000  40.375  43.025000  43.100000  41.375  46.775
6   2017  40.900  41.175000  41.425  43.050000  43.300000  42.150  46.925
7   2018  40.600  40.875000  41.250  42.250000  43.025000  42.325  46.975
8   2019  41.775  41.725000  41.400  43.325000  43.750000  43.225  47.550
9   2020  41.700  41.300000  42.000  41.900000  43.500000  43.100  46.400
10  2022  40.600  42.633333  42.200  41.866667  43.166667  42.500  47.600
11  2023  40.675  42.400000  41.225  42.400000  43.000000  41.825  47.225
12  2024  39.300  41.700000  40.500  42.400000  43.800000  41.800  47.000

         32.0       52.0  ...       41.0    33.0       24.0       11.0  \
1   42.600000  41.600000  ...  43.200000  43.875  39.575000  39.425000
2   42.275000  41.300000  ...  43.075000  43.700  39.925000  37.700000
3   42.300000  41.650000  ...  43.250000  43.450  40.975000  36.900000
4   42.625000  42.150000  ...  42.750000  43.675  42.425000  37.075000
5   43.075000  41.975000  ...  43.500000  43.550  42.050000  38.975000
6   43.450000  43.350000  ...  43.400000  43.900  41.500000  39.075000
7   43.775000  43.300000  ...  43.450000  44.500  42.200000  39.500000
8   44.350000  44.200000  ...  43.825000  44.975  42.175000  39.900000
9   44.000000  44.000000  ...  43.600000  44.800  42.500000  40.300000
10  44.033333  43.133333  ...  43.766667  45.500  41.966667  40.233333
11  43.575000  42.975000  ...  43.200000  45.325  41.800000  38.850000
12  43.500000  42.800000  ...  43.200000  46.000  42.000000  39.200000

         14.0       43.0       42.0       28.0       35.0       17.0
1   42.375000  44.500000  43.775000  41.075000  43.800000  38.975000
2   42.350000  44.475000  43.600000  42.450000  44.225000  39.125000
3   41.825000  44.500000  43.300000  42.000000  44.325000  39.000000
4   42.550000  44.850000  43.925000  41.050000  44.550000  40.025000
5   41.000000  44.875000  43.825000  41.725000  44.700000  39.550000
6   41.975000  45.200000  44.175000  42.650000  45.425000  40.275000
7   42.475000  44.750000  44.100000  43.150000  45.875000  40.950000
8   41.875000  45.325000  44.725000  43.825000  45.650000  40.700000
9   41.200000  45.100000  44.500000  42.600000  45.700000  41.900000
10  41.266667  44.633333  44.466667  41.766667  46.066667  41.866667
11  40.675000  45.325000  44.475000  43.550000  45.600000  41.975000
12  41.900000  45.300000  44.500000  43.600000  44.900000  41.200000

[12 rows x 28 columns]

In [151]:
women_labour_force_T.rename(columns = {12.0 : '12', 27.0 : '27', 13.0 : '13', 16.0 : '16', 29.0 : '29', 23.0 : '23', 53.0 : '53', 32.0 : '32', 52.0 : '52', 21.0 : '21', 31.0 : '31', 50.0 : '50', 51.0 : '51', 15.0 : '15', 25.0 : '25', 26.0 : '26', 22.0 : '22', 41.0 : '41', 33.0 : '33', 24.0 : '24', 11.0 : '11', 14.0 : '14', 43.0 : '43', 42.0 : '42', 28.0 : '28', 35.0 : '35', 17.0 : '17'}, inplace = True)
print(women_labour_force_T)

    time      12         27      13         16         29      23      53  \
1   2012  41.450  37.650000  39.750  42.550000  42.075000  40.475  46.875
2   2013  40.600  38.200000  39.875  41.100000  41.875000  40.700  46.825
3   2014  39.075  39.100000  39.575  41.475000  42.275000  41.050  46.350
4   2015  39.625  39.775000  39.075  40.550000  42.975000  41.225  46.025
5   2016  40.000  40.275000  40.375  43.025000  43.100000  41.375  46.775
6   2017  40.900  41.175000  41.425  43.050000  43.300000  42.150  46.925
7   2018  40.600  40.875000  41.250  42.250000  43.025000  42.325  46.975
8   2019  41.775  41.725000  41.400  43.325000  43.750000  43.225  47.550
9   2020  41.700  41.300000  42.000  41.900000  43.500000  43.100  46.400
10  2022  40.600  42.633333  42.200  41.866667  43.166667  42.500  47.600
11  2023  40.675  42.400000  41.225  42.400000  43.000000  41.825  47.225
12  2024  39.300  41.700000  40.500  42.400000  43.800000  41.800  47.000

           32         52  ...         41      33         24         11  \
1   42.600000  41.600000  ...  43.200000  43.875  39.575000  39.425000
2   42.275000  41.300000  ...  43.075000  43.700  39.925000  37.700000
3   42.300000  41.650000  ...  43.250000  43.450  40.975000  36.900000
4   42.625000  42.150000  ...  42.750000  43.675  42.425000  37.075000
5   43.075000  41.975000  ...  43.500000  43.550  42.050000  38.975000
6   43.450000  43.350000  ...  43.400000  43.900  41.500000  39.075000
7   43.775000  43.300000  ...  43.450000  44.500  42.200000  39.500000
8   44.350000  44.200000  ...  43.825000  44.975  42.175000  39.900000
9   44.000000  44.000000  ...  43.600000  44.800  42.500000  40.300000
10  44.033333  43.133333  ...  43.766667  45.500  41.966667  40.233333
11  43.575000  42.975000  ...  43.200000  45.325  41.800000  38.850000
12  43.500000  42.800000  ...  43.200000  46.000  42.000000  39.200000

           14         43         42         28         35         17
1   42.375000  44.500000  43.775000  41.075000  43.800000  38.975000
2   42.350000  44.475000  43.600000  42.450000  44.225000  39.125000
3   41.825000  44.500000  43.300000  42.000000  44.325000  39.000000
4   42.550000  44.850000  43.925000  41.050000  44.550000  40.025000
5   41.000000  44.875000  43.825000  41.725000  44.700000  39.550000
6   41.975000  45.200000  44.175000  42.650000  45.425000  40.275000
7   42.475000  44.750000  44.100000  43.150000  45.875000  40.950000
8   41.875000  45.325000  44.725000  43.825000  45.650000  40.700000
9   41.200000  45.100000  44.500000  42.600000  45.700000  41.900000
10  41.266667  44.633333  44.466667  41.766667  46.066667  41.866667
11  40.675000  45.325000  44.475000  43.550000  45.600000  41.975000
12  41.900000  45.300000  44.500000  43.600000  44.900000  41.200000

[12 rows x 28 columns]

In [152]:
women_labour_force_T.columns

Index(['time', '12', '27', '13', '16', '29', '23', '53', '32', '52', '21',
       '31', '50', '51', '15', '25', '26', '22', '41', '33', '24', '11', '14',
       '43', '42', '28', '35', '17'],
      dtype='object')

In [153]:
colunas_arredondar = ['12', '27', '13', '16', '29', '23', '53', '32', '52', '21',
       '31', '50', '51', '15', '25', '26', '22', '41', '33', '24', '11', '14',
       '43', '42', '28', '35', '17']
women_labour_force_T[colunas_arredondar] = women_labour_force_T[colunas_arredondar].round(1)

In [154]:
print(women_labour_force_T)

    time    12    27    13    16    29    23    53    32    52  ...    41  \
1   2012  41.4  37.6  39.8  42.6  42.1  40.5  46.9  42.6  41.6  ...  43.2
2   2013  40.6  38.2  39.9  41.1  41.9  40.7  46.8  42.3  41.3  ...  43.1
3   2014  39.1  39.1  39.6  41.5  42.3  41.0  46.4  42.3  41.6  ...  43.2
4   2015  39.6  39.8  39.1  40.6  43.0  41.2  46.0  42.6  42.2  ...  42.8
5   2016  40.0  40.3  40.4  43.0  43.1  41.4  46.8  43.1  42.0  ...  43.5
6   2017  40.9  41.2  41.4  43.0  43.3  42.2  46.9  43.4  43.3  ...  43.4
7   2018  40.6  40.9  41.2  42.2  43.0  42.3  47.0  43.8  43.3  ...  43.4
8   2019  41.8  41.7  41.4  43.3  43.8  43.2  47.6  44.4  44.2  ...  43.8
9   2020  41.7  41.3  42.0  41.9  43.5  43.1  46.4  44.0  44.0  ...  43.6
10  2022  40.6  42.6  42.2  41.9  43.2  42.5  47.6  44.0  43.1  ...  43.8
11  2023  40.7  42.4  41.2  42.4  43.0  41.8  47.2  43.6  43.0  ...  43.2
12  2024  39.3  41.7  40.5  42.4  43.8  41.8  47.0  43.5  42.8  ...  43.2

      33    24    11    14    43    42    28    35    17
1   43.9  39.6  39.4  42.4  44.5  43.8  41.1  43.8  39.0
2   43.7  39.9  37.7  42.3  44.5  43.6  42.4  44.2  39.1
3   43.4  41.0  36.9  41.8  44.5  43.3  42.0  44.3  39.0
4   43.7  42.4  37.1  42.6  44.8  43.9  41.0  44.6  40.0
5   43.6  42.0  39.0  41.0  44.9  43.8  41.7  44.7  39.6
6   43.9  41.5  39.1  42.0  45.2  44.2  42.6  45.4  40.3
7   44.5  42.2  39.5  42.5  44.8  44.1  43.2  45.9  40.9
8   45.0  42.2  39.9  41.9  45.3  44.7  43.8  45.7  40.7
9   44.8  42.5  40.3  41.2  45.1  44.5  42.6  45.7  41.9
10  45.5  42.0  40.2  41.3  44.6  44.5  41.8  46.1  41.9
11  45.3  41.8  38.8  40.7  45.3  44.5  43.6  45.6  42.0
12  46.0  42.0  39.2  41.9  45.3  44.5  43.6  44.9  41.2

[12 rows x 28 columns]

In [155]:
women_labour_force = women_labour_force_T
women_labour_force.to_csv('women_labour_force_est.csv')